/* CSS DEMO STYLESHEET */

html
{
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing:inherit;
}

body{
  font-family: "Sedgwick Ave", cursive;
  margin:0;
}

header.primary{
    background-color:#F2A922;
    text-align:center;
    text-shadow: 1px 1px 5px #000000;
    color:#ffffff;
    padding: 20px 40px;
}

header.primary h1{
    font-size: 2.4rem;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none; 
}

header.primary h2{
    font-size: 1.4rem;
    letter-spacing:.2px;
    margin:10px 0 0 0;
}

header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  margin: 20px;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav ul a{
  color:#ffffff;
  background-color:#03A66A;
  padding: 5px 7.5px;
  border-radius: 15px;
  text-decoration:none;
  background-color:rgba(166, 3, 3,.4);
  font-size:.9rem;
  transition:.4s;

  
}

header.primary nav a:hover{
   background-color:rgba(166, 3, 3,.8);
}
























/* ----------- Utility Classes ------------ */

.container{
  background:red;
  width:80vw;
  max-width:1140px;
  margin: 20px auto;
}

/* ----------- Reponsive Images ------------ */

img{
  max-width:100%;
}


/* Media Queries*/

@media screen and (max-width: 540px){
  header.primary nav ul{
  flex-direction:column;
  gap:5px;
}

  header.primary nav ul a{
  display:block;
  }

}