/* CSS DEMO STYLESHEET */

html
{
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing:inherit;
}

body
{
  font-family: "Sedgwick Ave", cursive;
  margin:0;
}

header.primary
{
    background-color:#F2A922;
    text-align:center;
    text-shadow: 1px 1px 5px #000000;
    color:#ffffff;
    padding: 20px 40px;
}

header.primary h1
{
    font-size: 2.4rem;
}

header.primary h1 a
{
    color:#ffffff;
    text-decoration:none; 
}

header.primary h2
{
    font-size: 1.4rem;
    letter-spacing:.2px;
    margin:10px 0 0 0;
}

header.primary nav ul
{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  margin: 20px;
}

header.primary nav ul li
{
  list-style-type:none;
}

header.primary nav ul a
{
  color:#ffffff;
  background-color:#03A66A;
  padding: 5px 7.5px;
  border-radius: 15px;
  text-decoration:none;
  background-color:rgba(166, 3, 3,.4);
  font-size:.9rem;
  transition:.4s;

  
}

header.primary nav a:hover
{
   background-color:rgba(166, 3, 3,.8);
}

#intro h2
{
  color:#F2A922;
  border-bottom:1px dotted #000;
}

#content
{
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap:20px;
}

#content .post{
  box-shadow: 0 4px 8px rgba(166, 3, 3,.8);
  padding:10px;
  font-size:.7rem;
}

#content .post figure
{
  margin:0;
}

#content time.post-date
{
  text-transform: uppercase;
  font-size:.8rem;
}

#content time.post-date, #content figcaption
{
  text-transform:uppercase;
  font-size:.6rem;
}

#content a
{
  color:#A60303;
}

#content a:hover
{
  text-decoration:none;
}

aside[role="complementary"] /*attribute selector*/
{
  background-color:#F2A922;
  color:#ffffff;
  padding: 40px 0;
}

aside .container
{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap: 40px;
}

/*aside .container a{  this will target a link within the text
  color:#ffffff;
}
aside .container a:hover{
text-decoration:none;
}*/
aside .container a:last-child /*this will target the last child...specifically the last hyperlink*/
{
  color:#A60303;
  display:block;  /*will force the item to be on its own line*/
  text-align:right;
  margin-top: 20px;
}

aside .widget footer
{
  display:none;
}

#colophon
{
  background-color:#F2A922;
  padding:5px;
  text-align:center;
  font-size:1.2rem;
  font-weight:bold;
  color:#ffffff;
}





















/* ----------- Utility Classes ------------ */

.container{
  /*background:red;*/
  width:80vw;
  max-width:1140px;
  margin: 20px auto;
}

/* ----------- Reponsive Images ------------ */

img{
  max-width:100%;
}


/* Media Queries*/

@media screen and (max-width: 540px){
  header.primary nav ul{
  flex-direction:column;
  gap:5px;
}

  header.primary nav ul a{
  display:block;
  }

}